@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Updock&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo:"Lobster", sans-serif;
    --fonte-texto:"Updock", cursive;
    --rosa-claro: #ffe5ecff;
    --salmão: #ffc2d1ff;
    --rosa-meio-forte: #ffb3c6ff;
    --rosa-forte: #ff8fabff;
    --rosa-muito-forte: #fb6f92ff;
    --preto: #000000;
}
 body{
    background-color: var(--rosa-meio-forte);
    font-family: var(--fonte-texto);
 }
 header, footer{
    background-color: var(--rosa-muito-forte);
    text-align: center;
    padding: 3em;
    color: var(--preto);
    font-family: var(--fonte-titulo);
 }
 header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
 }
 
 .projetos{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .cartao{
   text-align: center;
   background-color: var(--rosa-claro);
   width: 100%;
   margin: 1em 0;
   color: var(--preto);
   padding: 1em 0;
 }

 .cartao:hover{
   background-color: var(--rosa-forte);
 }

 .cartao a {
   text-decoration: none;
   color: var(--rosa-muito-forte);
 }


